.banner {
  padding: 0;
  margin: 0;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 305px;
  color: #ffffff;
}

.banner__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
}

.banner__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .banner {
    background: none;
    background-color: #333333;
    min-height: 809px;
  }

  .banner__title {
    width: 427px;
    font-size: 60px;
    line-height: 60px;
  }

  .banner__text {
    font-size: 20px;
    line-height: 20px;
  }

  .banner__button {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    width: 420px;
    position: relative;
    background: none;
    margin-left: 190px;
    text-align: left;
  }

  .banner__title,
  .banner__text {
    color: #000000;
  }
}
