.banner {
  padding: 0;
  margin: 0;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 305px;
  color: #ffffff;
}

.banner__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.banner__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
