.banner {
  padding: 0;
  margin: 0 0 197px 0;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat;
  background-size: 320px 305px;
  height: 305px;
  color: $white;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.banner__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 25px 0;
  padding-top: 26px;
}

.banner__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 29px;
}

.banner__image {
  background: url("../img/index-can-mobile@1x.png") no-repeat center;
  background-size: 280px 271px;
  height: 271px;
  margin: 0;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/index-can-mobile@2x.png");
  }
}

.banner__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .banner {
    background: none;
    background-color: $white;
    min-height: 809px;
    margin-bottom: 40px;
    position: relative;
  }

  .banner__title {
    width: 427px;
    font-size: 60px;
    line-height: 60px;
    margin-left: 117px;
    text-align: left;
    padding-top: 41px;
    color: $black;
    margin-bottom: 40px;
  }

  .banner__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding: 0;
    margin-left: 118px;
    color: $black;
  }

  .banner__button {
    display: flex;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-left: 119px;
    margin-top: 0;
    width: 245px;
    height: 52px;
    position: absolute;
    top: 269px;
  }

  .banner__image {
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: 709px 609px;
    height: 609px;
    margin-top: -10px;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .banner {
    position: relative;
    background: none;
    margin-left: 120px;
    text-align: left;
    min-height: 500px;
    margin-bottom: 108px;
    margin-top: 49px;
  }

  .banner_wrapper {
    display: flex;
    position: relative;
  }

  .banner__title,
  .banner__text {
    color: $black;
  }

  .banner__title {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 40px;
    padding: 0;
  }

  .banner__image {
    background-image: url("../img/index-can-desktop@1x.png");
    width: 552px;
    height: 499px;
    background-size: 552px 499px;
    position: absolute;
    margin: 0;
    left: 370px;
    top: -26px;
    z-index: 3;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .banner__text {
    margin: 0;
  }

  .banner__button {
    margin: 0;
    top: 288px;
  }
}
