.example-group {
  background-color: #f2f2f2;
  text-align: left;
}

.example__wrapper {
  margin-bottom: 0;
  min-height: 705px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 23px;
  padding-top: 17px;
  margin-right: 20px;
}

.example__box {
  margin-left: 20px;
  margin-right: 20px;
}

.example__description {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-top: 0;
  width: 267px;
  margin-bottom: 41px;
}

.example__wrap {
  display: flex;
  margin-bottom: 2px;
}

.example__block {
  width: 130px;
  height: 72px;
  text-align: center;
  margin-left: 15px;
}

.example__block:nth-child(1) {
  margin-left: 20px;
}

.example__block:nth-child(2) {
  margin-right: 20px;
}

.example__subtitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 0;
}

.example__block:nth-child(2) .example__subtitle {
  padding-left: 9px;
}

.example__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 82px;
  margin-left: 25px;
  margin-top: 0;
}

.example__cost {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 219px;
  margin-right: 20px;
  margin-left: 20px;
}

.example__slider {
  padding-top: 0;
}

@media (min-width: $tablet-width) {
  .example-group {
    margin-top: 102px;
    min-height: 1081px;
    background: none;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 63px;
  }

  .example__wrapping {
    margin-bottom: 185px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 676px;
    padding: 0;
    margin-left: 11px;
    margin-right: 30px;
    margin-bottom: 47px;
  }

  .example__cover {
    display: flex;
    min-height: 150px;
  }

  .example__cost {
    margin-left: auto;
    margin-right: 30px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    width: 184px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .example__wrap {
    margin-top: 24px;
    margin-left: 30px;
  }

  .example__block {
    margin-bottom: 30px;
  }

  .example__text {
    width: 108px;
    margin-left: 12px;
    margin-top: 13px;
    font-size: 14px;
    line-height: 14px;
  }

  .example__subtitle {
    font-size: 30px;
    line-height: 37px;
  }

  .example__block:nth-child(2) .example__subtitle {
    margin-left: 52px;
    width: 111px;
  }

  .example__block:nth-child(2) .example__text {
    width: 127px;
    margin-left: 52px;
    margin-top: 13px;
  }

  .example__slider {
    padding: 0;
    background-color: #f2f2f2;
    height: 462px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .example-group {
    background: none;
    margin-top: 0;
    min-height: 596px;
  }

  .example {
    height: auto;
    margin-bottom: -1px;
  }

  .example__title {
    margin: 0;
    margin-left: 110px;
  }

  .example__wrapper {
    min-height: 596px;
  }

  .example__wrapping {
    width: 720px;
    padding-left: 110px;
  }

  .example__subtitle {
    font-size: 30px;
    line-height: 37px;
  }

  .example__envelope {
    width: 1440px;
    display: flex;
    background-color: #f2f2f2;
    margin-top: 72px;
    height: 463px;
  }

  .example__description {
    width: 436px;
    padding: 0;
    margin-top: 73px;
    margin-bottom: 86px;
    margin-left: 0;
  }

  .example__box {
    margin-left: 0;
  }

  .example__cover {
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .example__wrap {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .example__text {
    font-size: 14px;
    line-height: 14px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    text-align: left;
    margin: 0;
  }

  .example__slider {
    margin: 0;
    width: 650px;
  }
}
