.extra-product {
  text-align: left;
}

.extra-product__title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 31px;
  margin-left: 19px;
  text-align: left;
  width: 100%;
  overflow: hidden;
  display: inline-block;

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: $green;
    display: inline-block;
    vertical-align: middle;
    margin-right: -100%;
    margin-left: 25px;
  }
}

.extra-product__block {
  width: 280px;
  margin: 0 auto;
  min-height: 115px;
  border-top: 1px solid #d9d9d9;
  padding-top: 13px;
}

.extra-product__block:nth-child(4) {
  border-bottom: 1px solid #d9d9d9;
}

.extra-product__subtitle {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 13px 0;
}

.extra-product__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 14px;
  min-width: 242px;
}

.extra-product__column {
  margin-bottom: 39px;
  margin-top: 0;
}

.extra-product__box {
  display: flex;
}

.extra-product__quantity {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  min-width: 238px;
}

.extra-product__bonus {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-position: center;
  height: 289px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.extra-product__gift {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  margin: 0 auto;
  padding-top: 186px;
  width: 161px;
  background-image: url("../img/icon-gift.svg");
  background-size: 55px 60px;
  background-position: center 66px;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .extra-product__block {
    width: 706px;
    min-height: 118px;
    border: 1px solid #e6e6e6;
    padding-bottom: 20px;
    padding-top: 0;
  }

  .extra-product__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 13px;
  }

  .extra-product__title {
    font-size: 36px;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    display: inline-block;
    min-height: 50px;
    margin-bottom: 67px;

    &::before {
      content: "";
      width: 100%;
      height: 4px;
      background-color: rgb(104, 183, 56);
      display: inline-block;
      vertical-align: middle;
      margin-left: -96%;
      margin-right: 35px;
    }
  }

  .extra-product__column {
    margin-top: 0;
    margin-bottom: 22px;
  }

  .extra-product__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin-left: 8px;
    margin-top: 25px;
  }

  .extra-product__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    min-width: 0;
    margin-top: 19px;
  }

  .extra-product__quantity {
    margin-top: 0;
    padding-top: 0;
    min-width: 0;
    margin-right: 54px;
  }

  .extra-product__button {
    font-size: 16px;
    line-height: 20px;
    width: 633px;
    height: 40px;
    margin-left: 37px;
    margin-top: 0;
  }

  .extra-product__bonus {
    margin-top: 0;
    background-size: 708px 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    position: relative;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      background-image: url("../img/icon-gift.svg");
      background-size: 55px 60px;
      background-repeat: no-repeat;
      content: "";
      width: 55px;
      height: 60px;
      position: absolute;
      top: 109px;
      left: 121px;
    }
  }

  .extra-product__gift {
    margin-left: 453px;
    text-align: left;
    padding-top: 117px;
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .extra-product__title {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 66px;

    &::before {
      left: -110px;
      width: 70px;
      display: none;
    }
  }

  .extra-product__wrapper {
    display: flex;
    margin-left: 40px;
    margin-bottom: 64px;
  }

  .extra-product__bonus {
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    width: 245px;
    height: 289px;
    background-size: 245px 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::before {
      top: 65px;
      left: 96px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .extra-product__gift {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 187px;
  }

  .extra-product__column {
    margin-top: 0;
    margin-right: 80px;
  }

  .extra-product__block {
    border-left: none;
    border-right: none;
    display: flex;
    min-height: 50px;
    width: 895px;
    padding-bottom: 5px;
    padding-top: 15px;
  }

  .extra-product__subtitle {
    margin: 0;
    margin-top: 10px;
    min-width: 325px;
  }

  .extra-product__text {
    padding: 0;
    min-width: 174px;
    margin: 0;
    margin-top: 13px;
  }

  .extra-product__quantity {
    min-width: 240px;
    margin-right: 9px;
    padding: 0;
  }

  .extra-product__button {
    width: 245px;
    align-self: flex-start;
    margin-left: auto;
    margin-top: 0;
  }

  .extra-product__wrap {
    padding: 0;
    margin: 0;
    align-items: flex-start;
  }
}
