.form__title {
  font-size: 36px;
  line-height: 60px;
  margin-left: 20px;
  text-align: left;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  text-align: left;
  font-weight: normal;
}

.form__list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-left: 20px;
}

.form__item {
  color: #222222;
}

.form__item label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  font-family: inherit;
}

.form__item input {
  padding-left: 15px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  height: 43px;
  font-family: inherit;
}

.form__subtitle {
  width: 200px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin-left: 20px;
}

.form__comment {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 278px;
  height: 148px;
  border: 1px solid #e6e6e6;
  text-align: center;
  font-family: inherit;
}

.form__footnote {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
