.form__title {
  font-size: 36px;
  line-height: 60px;
  margin-left: 20px;
  text-align: left;
  margin-top: 12px;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  text-align: left;
  font-weight: normal;
  width: 250px;
}

.form__block:nth-child(4) {
  margin-top: 59px;
}

.form__block:nth-child(5) {
  margin-top: 26px;
}

.form__block:nth-child(6) {
  margin-top: 27px;
}

.form__list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-left: 20px;
}

.form__block:nth-child(4) .form__list {
  margin-top: 33px;
}

.form__block:nth-child(4) .form__item:nth-child(2) {
  margin-top: 13px;
}

.form__item {
  color: #222222;
}

.form__item label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  font-family: inherit;
}

.form__item input {
  //padding-left: 15px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  height: 43px;
  font-family: inherit;
}

.form__block:nth-child(1) .form__item:nth-child(1) {
  margin-top: 39px;
}

.form__block:nth-child(1) .form__item:nth-child(2) {
  margin-top: 12px;
}

.form__block:nth-child(1) .form__item:nth-child(3) {
  margin-top: 12px;
}

.form__item:nth-child(1) input {
  margin-left: 12px;
  width: 212px;
  padding-left: 14px;
}

.form__item:nth-child(2) input {
  margin-left: 14px;
  width: 186px;
  padding-left: 16px;
}

.form__item:nth-child(3) input {
  margin-left: 7px;
  width: 155px;
  padding-left: 15px;
}

.form__item-radio:nth-child(1) {
  margin-top: 50px;
  margin-left: 46px;
}

.form__item-radio:nth-child(2) {
  margin-top: 24px;
  margin-left: 46px;
}

.form__item-radio:nth-child(3) {
  margin-top: 24px;
  margin-left: 46px;
}

.form__item-contact:nth-child(1) input {
  width: 203px;
  margin-left: 10px;
}

.form__item-contact:nth-child(2) input {
  width: 187px;
  margin-left: 7px;
}

.form__item-checkbox {
  margin-left: 46px;
}

.form__item-checkbox:nth-child(1) {
  margin-top: 40px;
}

.form__item-checkbox:nth-child(2),
.form__item-checkbox:nth-child(3),
.form__item-checkbox:nth-child(4) {
  margin-top: 25px;
}

.form__subtitle {
  width: 200px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin-left: 20px;
}

.form__comment {
  margin-top: 16px;
  padding-top: 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  width: 278px;
  height: 134px;
  border: 1px solid #e6e6e6;
  text-align: center;
  font-family: inherit;
}

.form__button {
  margin-top: 23px;
}

.form__footnote {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  padding-top: 8px;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-left: 32px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-left: 71px;
  }

  .form__block {
    margin-left: 71px;
  }

  .form__block:nth-child(1) {
    margin-left: 0;
  }

  .form__block:nth-child(1) .form__list {
    margin-left: 71px;
  }

  .form__block:nth-child(2) {
    border: 1px solid #e6e6e6;
    width: 628px;
    height: 194px;
  }

  .form label,
  .form input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__subtitle {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    width: 576px;
  }

  .form__comment {
    width: 627px;
    height: 170px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 18px;
    margin-left: -45px;
  }

  .form__block:nth-child(5) .form__list {
    display: flex;
    flex-wrap: wrap;
  }

  .form__block:nth-child(5) .form__item {
    width: 288px;
  }

  .form__list {
    margin-left: 0;
  }

  .form__wrap {
    display: flex;
  }

  .form__button {
    margin-left: 71px;
  }

  .form__footnote {
    font-size: 16px;
    line-height: 16px;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form__title,
  .form__text {
    margin-left: 110px;
  }

  .form__wrapper {
    display: flex;
  }

  .form__wrapper .form__block {
    margin-left: 110px;
  }

  .form__wrapper .form__list:nth-child(1) {
    margin-left: 0;
  }

  .form__list {
    margin-left: 0;
  }

  .form__block {
    margin-left: 110px;
  }

  .form__block:nth-child(2) {
    width: 568px;
    height: 194px;
    margin-left: auto;
    margin-right: 110px;
  }

  .form__block:nth-child(4) .form__list {
    display: flex;
    justify-content: space-between;
  }

  .form__comment {
    width: 1216px;
    height: 170px;
    margin-left: -89px;
  }

  .form__button {
    width: 568px;
    height: 52px;
    margin-left: 110px;
  }
}
