.invite {
  text-align: left;
  display: flex;
  background: #f2f2f2;
  padding-top: 12px;
  padding-bottom: 10px;
}

.invite--background-white {
  background-color: #ffffff;
}

.invite__text {
  width: 130px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  text-transform: uppercase;
}

.invite__address {
  width: 140px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-weight: normal;
  margin-left: 11px;
  padding-top: 2px;
}

@media (min-width: $tablet-width) {
  .invite {
    justify-content: space-between;
    padding: 0 30px;
    padding-bottom: 43px;
  }

  .invite__text {
    font-size: 20px;
    line-height: 25px;
    margin-left: 40px;
    margin-top: 65px;
  }

  .invite__address {
    font-size: 16px;
    line-height: 20px;
    width: 164px;
    text-align: right;
    margin-right: 40px;
    margin-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .invite {
    padding-left: 110px;
  }

  .invite__text {
    margin-left: 0;
  }

  .invite__address {
    margin-left: auto;
    margin-right: 110px;
  }
}

@media (min-width: $desktop-width) {
  .invite {
    width: 430px;
    height: 158px;
    position: absolute;
    top: 100px;
    left: 110px;
  }

  .invite__text {
    text-align: left;
    margin-left: -33px;
    align-self: center;
  }

  .invite__address {
    text-align: left;
    width: 155px;
    margin-right: 60px;
    margin-top: 37px;
    align-self: center;
  }
}
