.main-navigation {
  position: relative;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation__toggle {
  display: block;
  width: 26px;
  height: 26px;
  background-color: $white;
  border: none;
  position: absolute;
  padding: 0;
  right: 19px;
  top: -46px;
  z-index: 5;
}

.main-navigation__item {
  width: 320px;
  height: 65px;
  border: 1px solid #e6e6e6;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-right: none;
}

.main-navigation__item a {
  color: #111111;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  color: #707070;

  &:active {
    color: #b7b7b7;
  }
}

.main-navigation__item--active {
  color: #111111;
  border-bottom: 2px solid $green;
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__toggle::before {
    content: "";
    background-image: url("../img/icon-mobile-menu.svg");
    background-size: 24px 18px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 18px;
  }

  .main-navigation--opened .main-navigation__toggle::before {
    content: "";
    background-image: url("../img/icon-close.svg");
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 18px;
  }

  .main-navigation--closed .main-navigation__list {
    display: none;
  }

  .main-navigation--opened .main-navigation__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 40px;
    margin-top: 22px;
    margin-left: 92px;
    position: relative;
  }

  .main-navigation__item {
    font-size: 18px;
    line-height: 24.86px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width: max-content;
  }

  .main-navigation__item:nth-child(1) {
    width: auto;
  }

  .main-navigation__toggle {
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
  }

  .main-navigation__item--index-active {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 69px;
      height: 2px;
      top: 52px;
      background-color: $green;
    }
  }

  .main-navigation__item--index-green-active {
    border-bottom: 2px solid $green;
    height: 39px;
    margin-top: 13px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__list {
    margin: 0;
    padding: 0;
    line-height: 29px;
    margin-top: 54px;
    width: auto;
    height: auto;
  }

  .main-navigation__list--wrap {
    width: 485px;
    flex-wrap: wrap;
  }

  .main-navigation__item {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 25px;
    position: relative;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-navigation__item--index-white a,
  .main-navigation__item--index-white {
    color: $white;

    &:hover {
      color: $white;
      opacity: 0.8;
    }

    &:active {
      color: $white;
      opacity: 0.6;
    }
  }

  .main-navigation__item:nth-child(1) {
    margin-left: 0;
    width: auto;
  }

  .main-navigation__item--index-active {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 75px;
      height: 2px;
      top: 52px;
      left: 0;
      background-color: $white;
    }
  }

  .main-navigation__item--index-green-active {
    border-bottom: 2px solid $green;
    height: 39px;
    margin-top: 13px;
  }
}
