.map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 320px 362px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 362px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile_2x.png");
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 767px 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    right: 40px;
    width: 1300px;
    height: 400px;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: 1300px 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
