.map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 320px 362px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .map {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1440px;
    height: 400px;
  }
}
