.page-footer {
  background: #f2f2f2;
}

.page-footer__cat-energy {
  width: 320px;
  background: url("../img/logo-footer.svg") center no-repeat;
  background-size: 128px 24px;
  min-height: 94px;
  position: relative;

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    display: block;
    top: 93px;
    left: 20px;
  }
}

.page-footer__social {
  position: relative;

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    display: block;
    top: 62px;
    left: 20px;
  }
}

.page-footer__contacts {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  padding-bottom: 3px;
  margin-right: 20px;
}

.page-footer--catalog-margin {
  margin-top: 35px;
}

.page-footer--form-margin {
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .page-footer__cat-energy {
    &::after {
      display: none;
    }
  }

  .page-footer__social {
    &::after {
      display: none;
    }
  }

  .page-footer {
    padding-bottom: 30px;
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }

  .page-footer__contacts {
    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }
}
