.page-footer {
  background: #f2f2f2;
}

.page-footer__cat-energy {
  margin: 0;
  padding-top: 38px;
  margin-bottom: 29px;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    display: block;
    top: 93px;
    left: 20px;
  }
}

.page-footer__social {
  position: relative;

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    display: block;
    top: 62px;
    left: 20px;
  }
}

.page-footer__contacts {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  padding-bottom: 3px;
  margin-right: 20px;
}

.page-footer--catalog-margin {
  margin-top: 35px;
}

.page-footer--form-margin {
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .page-footer__cat-energy {
    width: 128px;
    margin-top: -8px;

    &::after {
      display: none;
    }
  }

  .page-footer__social {
    &::after {
      display: none;
    }
  }

  .page-footer {
    padding-bottom: 0;
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 708px;
    padding-top: 31px;
    padding-bottom: 27px;
    margin-left: 30px;
  }

  .page-footer__contacts {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__wrap {
    width: 1236px;
    margin-left: 110px;
    margin-right: 110px;
  }
}
