.page-catalog__tagline {
  font-size: 36px;
  line-height: 60px;
  margin: 11px 0 30px 0;
}

@media (min-width: $tablet-width) {
  .page-catalog__tagline {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 165px;
  }
}

@media (min-width: $desktop-width) {
  .page-catalog {
    margin-top: 71px;
  }

  .page-catalog__tagline {
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 163px;
  }
}
