.product-group {
  margin: 0 20px 54px 20px;
  position: relative;

  &::after {
    content: "";
    width: 1px;
    height: 1672px;
    background-color: $gray;
    display: block;
    top: 0;
    left: -20px;
    position: absolute;
  }

  &::before {
    content: "";
    width: 1px;
    height: 1672px;
    background-color: $gray;
    display: block;
    top: 0;
    left: 299px;
    position: absolute;
  }
}

.product {
  width: 280px;
  min-height: 209px;
  position: relative;

  &::before {
    content: "";
    width: 320px;
    height: 1px;
    background-color: $gray;
    display: block;
    position: absolute;
    left: -20px;
  }
}

.product__wrap {
  display: flex;
  width: 280px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  margin: 22px 0 7px 0;
  width: 80px;
  height: 43px;
}

.product__table {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: left;
  margin: 0;
  display: flex;
}

.product__table tbody {
  width: 140px;
}

.product__table tr {
  display: flex;
  justify-content: space-between;
}

.product__box {
  width: 145px;
}

.product__button {
  //margin-left: 20px;
  display: flex;
  justify-content: center;
}

.product__subtitle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 7px;
}

.product__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0 0 22px 0;
}

.product:nth-child(7) {
  margin-bottom: 26px;
}

.product__more {
  //margin: 0 0 20px 0;
  position: relative;

  &::before {
    content: "";
    width: 320px;
    height: 1px;
    background-color: $gray;
    display: block;
    position: absolute;
    left: -20px;
    top: -27px;
  }

  &::after {
    content: "";
    width: 320px;
    height: 1px;
    background-color: $gray;
    display: block;
    position: absolute;
    left: -20px;
    top: 182px;
  }
}

.product__plus {
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  background-color: $white;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.product__button-more {
  background-color: $gray;
  color: #444444;
  margin: 0;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #b9b9b9;
  }
}

@media (min-width: $tablet-width) {
  .product-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 66px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .product {
    width: 324px;
    min-height: 401px;
    margin-left: 10px;
    background-color: $gray;
    padding-bottom: 30px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .product:nth-child(1),
  .product:nth-child(2),
  .product:nth-child(3),
  .product:nth-child(4),
  .product:nth-child(5),
  .product:nth-child(6) {
    margin-top: 0;
    margin-bottom: 140px;
  }

  .product:nth-child(7),
  .product__more {
    margin-bottom: 0;
  }

  .product:nth-child(odd) {
    margin-right: 59px;
  }

  .product:nth-child(even) {
    margin-left: 0;
  }

  .product:nth-child(7) {
    margin-right: 59px;
    margin-bottom: 0;
  }

  .product:nth-child(1) .product__image {
    margin-top: -46px;
    margin-bottom: 16px;
  }

  .product:nth-child(2) .product__image {
    margin-top: -82px;
    margin-bottom: 16px;
  }

  .product:nth-child(3) .product__image {
    margin-top: -47px;
    margin-bottom: 15px;
  }

  .product:nth-child(4) .product__image {
    margin-top: -83px;
    margin-bottom: 17px;
  }

  .product:nth-child(5) .product__image {
    margin-top: -47px;
    margin-bottom: 15px;
  }

  .product:nth-child(6) .product__image {
    margin-top: -83px;
    margin-bottom: 17px;
  }

  .product:nth-child(7) .product__image {
    margin-top: -48px;
    margin-bottom: 16px;
  }

  .product__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .product__wrap picture {
    width: 324px;
    margin-bottom: 19px;
  }

  .product__box {
    width: 324px;
  }

  .product__box,
  .product__title,
  .product__table {
    margin: 0 auto;
  }

  .product__title {
    font-size: 20px;
    line-height: 20px;
    width: 130px;
    text-align: center;
    margin-bottom: 22px;
  }

  .product__image {
    margin-bottom: 0;
  }

  .product__table {
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    display: flex;
  }

  .product__table tbody {
    width: 250px;
    margin: 0;
  }

  .product__table tr {
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 7px;
    margin-bottom: 7px;


    //&::after {
    //  content: "";
    //  display: block;
    //  height: 1px;
    //  width: 250px;
    //  background-color: #d9d9d9;
    //  position: absolute;
    //  top: 25px;
    //}
  }

  //.product__table tr:nth-child(1) {
  //  margin-bottom: 15px;
  //}
  //
  //.product__table tr:nth-child(2) {
  //  margin-top: 0;
  //  margin-bottom: 15px;
  //}
  //
  //.product__table tr:nth-child(3) {
  //  margin-top: 0;
  //}

  .product__more {
    border: 1px solid #e6e6e6;
    width: 322px;
    min-height: 410px;
    padding-bottom: 20px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .product__plus {
    margin-top: 54px;
    padding: 0;
    border: none;
    width: 60px;
    height: 60px;
    background-color: $white;
    background-image: url("../img/icon-plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
  }

  .product__subtitle {
    font-size: 20px;
    line-height: 20px;
    width: 142px;
    margin: 0 auto;
    margin-top: 48px;
  }

  .product__text {
    font-size: 16px;
    width: 174px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .product__button {
    width: 249px;
    margin: 0 auto;
  }

  .product__button-more {
    width: 249px;
    margin-top: 89px;
  }
}

@media (min-width: $desktop-width) {
  .product-group {
    margin-top: 0;
    margin-bottom: 75px;
  }

  .product:nth-child(1),
  .product:nth-child(2),
  .product:nth-child(3),
  .product:nth-child(4),
  .product:nth-child(5),
  .product:nth-child(6),
  .product:nth-child(7),
  .product__more,
  .product:nth-child(odd) {
    margin: 0;
  }

  .product {
    width: 245px;
    margin-right: 0;
    margin-left: 89px;
    background-color: $gray;
  }

  .product__wrap {
    width: 245px;
  }

  .product__wrap picture {
    width: 245px;
  }

  .product:nth-child(1),
  .product:nth-child(2),
  .product:nth-child(3),
  .product:nth-child(5),
  .product:nth-child(6),
  .product:nth-child(7) {
    margin-right: 80px;
  }

  .product:nth-child(1),
  .product:nth-child(2),
  .product:nth-child(3),
  .product:nth-child(4) {
    margin-bottom: 143px;
  }

  .product:nth-child(5),
  .product:nth-child(6),
  .product:nth-child(7),
  .product__more {
    margin-top: 0;
    min-height: 401px;
  }

  .product__image {
    margin-left: 0;
  }

  .product__box {
    width: 245px;
  }

  .product__title {
    margin: 0 auto;
    margin-bottom: 22px;
  }

  .product:nth-child(1),
  .product:nth-child(5) {
    margin-left: 20px;
  }

  .product__table {
    margin: 0 auto;
    width: 170px;
  }

  .product__table tbody {
    width: 170px;
  }

  .product__table tr:nth-child(1),
  .product__table tr:nth-child(2),
  .product__table tr:nth-child(3) {
    &::after {
      width: 169px;
    }
  }

  .product__button {
    margin: 0 auto;
    width: 169px;
    height: 40px;
    margin-top: 0;
  }

  .product__more {
    width: 243px;
  }

  .product__subtitle {
    margin-bottom: 26px;
  }

  .product__text {
    margin-top: 0;
    margin-bottom: 89px;
  }

  .product__button-more {
    width: 169px;
    height: 40px;
    margin-top: 0;
  }
}
